@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: Inter-B;
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: Inter-XB;
    src: url(../fonts/Inter-Bold.ttf);
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Inter;
}

#aside {
    width: 20vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 2px solid rgba(228, 228, 231, 1);
    gap: 25px;
}

#titlelogo {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    padding-left: 10%;
    gap: 7px;
    margin-top: 15px;
}

#titlelogo img {
    height: 50px;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
}

#titlelogo p {
    font-size: 0.9rem;
    font-family: Inter-B;
    margin: 0;
    padding: 0;
    display: flex;
}

#side-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

#side-menu li {
    height: fit-content;
    width: 90%;
    list-style: none;
    margin-left: 5%;
    background-color: white;
    border-radius: 6px;
}

#side-menu .active {
    background-color: rgba(244, 244, 245, 1);
}

#side-menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    height: 40px;
    padding-left: 12px;
    font-family: Inter;
    font-size: 0.9rem;
}

#side-menu li a img {
    height: 1.1rem;
    width: 1.1rem;
    max-width: 25px;
    max-height: 25px;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    margin-left: 20vw;
    width: 100%;
    overflow: hidden;
    text-wrap: pretty;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 95%;
    margin-top: 20px;
}

#top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#top-content ul {
    display: flex;
    background-color: rgba(244, 244, 245, 1);
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 4px;
    border-radius: 6px;
}

#top-content ul li {
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 5px 10px;
    border-radius: 4px;
}

#top-content ul .active {
    background-color: white;
}

#top-content ul .active a {
    color: black;
}

#top-content ul li a {
    text-decoration: none;
    color: rgba(113, 113, 122, 1);
    font-size: 0.9rem;
}

#pasar-lista {
    color: white;
    background-color: black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 0.9rem;
}

#title {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 0 20px 0;
    border-bottom: 2px solid rgba(228, 228, 231, 1);
}

#title h3 {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

#title p {
    margin: 0;
    padding: 0;
    color: rgba(113, 113, 122, 1);
}

#select-container {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-radius: 6px;
    border: 2px solid rgba(228, 228, 231, 1);
}

#select-container select {
    font-family: Inter;
    appearance: none;
    width: 10rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

#select-container img { 
    rotate: 180deg;
    position: absolute;
    right: 20px;
    top: 32.5%;
    pointer-events: none;
}

